---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign member_slug = page.slug %}
{% assign member_projects = site.projects
  | where_exp: "p", "p.lead contains member_slug or p.pi contains member_slug"
%}

{% if member_projects.size > 0 %}
  {% include section.html size="wide" %}
  <h2>Projects</h2>
  <div class="project-grid">
    {% for project in member_projects %}
      {% assign card_desc = project.short_description | default: project.excerpt %}
      {% include project-card.html
        title=project.title
        subtitle=project.subtitle
        description=card_desc
        image=project.image
        link=project.url
        lead=project.lead
        pi=project.pi
      %}
    {% endfor %}
  </div>
{% endif %}

{% assign member_news = site.data.news | where_exp: "item", "item.members contains member_slug" | sort: "date" | reverse %}
{% if member_news.size > 0 %}
  {% include section.html size="wide" %}
  <h2>News</h2>
  <div class="news-list">
    {% for item in member_news %}
      <div class="news-item">
        <div class="news-date">{{ item.date | date: "%b %Y" }}</div>
        <div class="news-text">{{ item.text | markdownify | remove: "<p>" | remove: "</p>" }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture search -%}
  research/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<!-- <p class="center">
  <a href="{{ search | relative_url | uri_escape }}">
    Search for {{ page.name | default: page.title }}'s papers on the Research page
  </a>
</p>

{% capture search -%}
  blog/?search={{ page.name }}
{%- endcapture %} -->

<!--
<p class="center">
  <a href="{{ search | relative_url | uri_escape }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
